﻿@model IEnumerable<Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div>
    <input type="text" class="form-control" placeholder="Find by description" oninput="findByDescription(this.value)" />
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prix)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="products_list">
        <partial name="_ProductsPage" , model="@Model" />
    </tbody>
</table>

@section Scripts{
    <script>
        function findByDescription(search) {
            $.ajax({
                type: "Get",
                url:"/Products/_GetByDescription?desc=" + search,
                success: function (resp) {
                    $("#products_list").html(resp);
                }
            });
        }
    </script>
}
