﻿@model ProductsViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<form class="row"
      data-ajax="true"
      data-ajax-url="_IndexPartial"
      data-ajax-update="#products_list">
    <div class="col-auto">
        <input asp-for="Filter" class="form-control" placeholder="Find by description" />
    </div>
    <div class="col-auto">
        <button type="submit" class="btn btn-primary"><i class="bi bi-search"></i></button>
    </div>
    <div class="col-auto">
        <a asp-action="Create" class="btn btn-secondary"><i class="bi bi-plus-circle"></i></a>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                Description
            </th>
            <th>
                Prix
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="products_list">
        <partial name="_ProductsPage" , model="@Model.Products" />
    </tbody>
</table>
