﻿@model ProductsPagingViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index Pagined</h1>

<form method="get" class="row">
    <div class="col-auto">
        <input name="q" value="@(Context.Request.Query["q"])" class="form-control" />
    </div>
    <div class="col-auto">
        <button type="submit" class="btn btn-primary"><i class="bi bi-search"></i></button>
    </div>
    <div class="col-auto">
        <a asp-action="Create" class="btn btn-secondary"><i class="bi bi-plus-circle"></i></a>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
@*           @if (Model.Products is not null)
            {
                var props = Model.Products.GetType().GetGenericArguments()[0].GetProperties();

                foreach (var prop in props)
                {
                    <th>
                        @prop.Name
                    </th>
                }
            }*@
            <th>
                Description
            </th>
            <th>
                Prix
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
       <partial name="_ProductsPage", model="@Model.Products"/>
    </tbody>
</table>

<paging total-records="@Model.TotalRecords"
        page-no="@Model.CurrentPage"
        page-size="@Model.PageSize"
        show-prev-next="true"
        show-total-pages="false"
        show-total-records="false"
        show-page-size-nav="false"
        query-string-key-page-no="p"
        query-string-key-page-size="s"
        class-paging-control="pagination justify-content-center"
        text-first="&laquo;"
        text-last="&raquo;"
        text-previous="&lsaquo;"
        text-next="&rsaquo;"
        sr-text-first="&nbsp"
        sr-text-last="&nbsp"
        sr-text-previous="&nbsp"
        sr-text-next="&nbsp">
</paging>
