﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<h3 class="text-center">
    il est @DateTime.Now.ToLongTimeString().
</h3>

<div class="text-danger">@Model</div>

<a asp-controller="Home" asp-action="Index">Refresh to test cache</a>
