﻿@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<h3 class="text-center">
    il est @DateTime.Now.ToLongTimeString().
</h3>

<a asp-controller="Home" asp-action="Privacy">Refresh to test cache</a>
