﻿@model UsersPagingViewModel

@{
    ViewData["Title"] = "Index";
}

<form method="get" class="row">
    <div class="col-auto">
        <input name="q" value="@(Context.Request.Query["q"])" class="form-control" />
    </div>
    <div class="col-auto">
        <button type="submit" class="btn btn-primary"><i class="bi bi-search"></i></button>
    </div>
    <div class="col-auto">
        <a asp-action="Create" class="btn btn-secondary"><i class="bi bi-plus-circle"></i></a>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @*@typeof(User).GetProperties()?.FirstOrDefault()?.Name*@
                Email
            </th>
            <th>
                Is Admin
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <partial name="_UsersPage" , model="@Model.Users" />
    </tbody>
</table>


<paging total-records="@Model.TotalRecords"
        page-no="@Model.CurrentPage"
        page-size="@Model.PageSize"
        show-prev-next="true"
        show-total-pages="false"
        show-total-records="false"
        show-page-size-nav="false"
        query-string-key-page-no="p"
        query-string-key-page-size="s"
        class-paging-control="pagination justify-content-center"
        text-first="&laquo;"
        text-last="&raquo;"
        text-previous="&lsaquo;"
        text-next="&rsaquo;"
        sr-text-first="&nbsp"
        sr-text-last="&nbsp"
        sr-text-previous="&nbsp"
        sr-text-next="&nbsp">
</paging>