﻿@model EmailViewModel
@{
    ViewData["Title"] = "Contact";
}

<div class="row w-50">
    <form asp-controller="Home" asp-action="Contact" enctype="multipart/form-data">

        <div class="mb-2">
            <label asp-for="FromEmail" class="control-label"></label>
            <input asp-for="FromEmail" class="form-control" />
            <span asp-validation-for="FromEmail" class="text-danger"></span>
        </div>

        <div class="mb-2">
            <label asp-for="Subject" class="control-label"></label>
            <input asp-for="Subject" class="form-control" />
            <span asp-validation-for="Subject" class="text-danger"></span>
        </div>

        <div class="mb-2">
            <label asp-for="Body" class="control-label"></label>
            <input asp-for="Body" class="form-control" />
            <span asp-validation-for="Body" class="text-danger"></span>
        </div>

        <div class="mb-2">
            <label asp-for="Attachments" class="control-label"></label>
            <input asp-for="Attachments" class="form-control" />
            <span asp-validation-for="Attachments" class="text-danger"></span>
        </div>

        <div>
            <input type="submit" value="send" class="btn btn-primary w-100"/>
        </div>
    </form>
</div>