﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - _03_RazorPages</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/_03_RazorPages.styles.css" asp-append-version="true" />
</head>
<body>
    @*On a remplacé le Header par une vue parielle*@
    <partial name="_CustomHeader"/>
    <div class="container">
        <main role="main" class="pb-3">
            @*Maximum un appel de RenderBody*@
            @RenderBody()
        </main>
    </div>

    @*On a remplacé le Footer par une vue parielle*@
    <partial name="_CustomFooter" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    @*RenderSection permet d'envoyer du contenu depuis les vues "filles". Il peut être appelé plusieurs fois.*@
    @await RenderSectionAsync("sectionFromPrivacyView", required: false)
</body>
</html>
