﻿<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

<!-- globalize script -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/globalize/1.7.0/globalize.min.js"></script>
<!-- jquery validation script with globalize -->
<script src="https://cdn.jsdelivr.net/npm/jquery-validation-globalize@0.1.1/jquery.validate.globalize.min.js"></script>
