﻿@model _05_Validations.Models.Employe

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Employe</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            <label asp-for="UserName"></label>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class = "col-sm-2">
            <label asp-for="Password"></label>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt class = "col-sm-2">
            <label asp-for="DateNaissance"></label>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateNaissance)
        </dd>
        <dt class = "col-sm-2">
            <label asp-for="Email"></label>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            <label asp-for="Evaluation"></label>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Evaluation)
        </dd>
        <dt class = "col-sm-2">
            <label asp-for="NumeroTelephone"></label>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroTelephone)
        </dd>
        <dt class = "col-sm-2">
            <label asp-for="Commentaire"></label>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Commentaire)
        </dd>

         <dt class = "col-sm-2">
            <label asp-for="File"></label>
        </dt>
        <dd class = "col-sm-10">
            <img src="~/uploads/@Model?.File?.FileName" style="width:10em"/>
        </dd>
    </dl>
</div>

