﻿@model _05_Validations.Models.Employe

@{
    ViewData["Title"] = "FormValidation";
}

<h1>FormValidation</h1>

<h4>Employe</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @*ATTENTION : NE PAS OUBLIER enctype="multipart/form-data" pour passer les fichiers*@
        @using (Html.BeginForm("FormValidation", "Employe", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @*@Html.AntiForgeryToken() implicite*@

            @Html.ValidationSummary(true, "", new{@class ="form-control"})
            <div class="form-group">
                @Html.LabelFor(model => model.UserName)
                @Html.TextBoxFor(model => model.UserName, new { @class ="form-control"})
                @*@Html.EditorFor(model => model.UserName, new {HtmlAttributes  = new { @class ="form-control"}})*@
                @Html.ValidationMessageFor(model => model.UserName, "", new {@class ="text-danger"})
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Password)
                @Html.EditorFor(model => model.Password, new {HtmlAttributes  = new { @class ="form-control"}})
                @Html.ValidationMessageFor(model => model.Password, "", new {@class ="text-danger"})
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.DateNaissance)
                @Html.EditorFor(model => model.DateNaissance, new {HtmlAttributes  = new { @class ="form-control"}})
                @Html.ValidationMessageFor(model => model.DateNaissance, "", new {@class ="text-danger"})
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Email)
                @Html.EditorFor(model => model.Email, new {HtmlAttributes  = new { @class ="form-control"}})
                @Html.ValidationMessageFor(model => model.Email, "", new {@class ="text-danger"})
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Evaluation)
                @Html.EditorFor(model => model.Evaluation, new {HtmlAttributes  = new { @class ="form-control"}})
                @Html.ValidationMessageFor(model => model.Evaluation, "", new {@class ="text-danger"})
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.NumeroTelephone)
                @Html.EditorFor(model => model.NumeroTelephone, new {HtmlAttributes  = new { @class ="form-control"}})
                @Html.ValidationMessageFor(model => model.NumeroTelephone, "", new {@class ="text-danger"})
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Commentaire)
                @Html.EditorFor(model => model.Commentaire, new {HtmlAttributes  = new { @class ="form-control"}})
                @Html.ValidationMessageFor(model => model.Commentaire, "", new {@class ="text-danger"})
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.File)
                @Html.EditorFor(model => model.File, new {HtmlAttributes  = new { @class ="form-control"}})
                @Html.ValidationMessageFor(model => model.File, "", new {@class ="text-danger"})
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        }
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
