﻿@using _04_TagHelpers.Helpers
@model Employe
@{
    ViewData["Title"] = "Bonjour Employe";
}

<h2> HTML TAGS </h2>
<a href="mailto:@Model.Email">@Model.Name</a> is @Model.Type and earn @Model.Salary

<h2> Custom Tag Helper </h2>

<!-- Utilisation d'un tag helper personnalisé défini dans le dossier Helpers ( ne pas oublier de rajouter le nom d'Assembly dans _ViewImports) -->
<employe name=@Model.Name salary=@Model.Salary type=@Model.Type email=@Model.Email />

<h2> Custom HTML Helper </h2>
<!-- Utilisation d'un html helper personnalisé défini dans le dossier Helpers -->
@Html.Employe(@Model.Name, @Model.Salary.ToString(), @Model.Type.ToString(), @Model.Email)
