﻿@model Employe
@{
    ViewData["Title"] = "Create Employe";
}

<h1> New Employe</h1>

<form method="post" asp-action="Bonjour"> 
    <div class="border p-3 mt-4">

        <div class="mb-3">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control"/>
        </div>

        <div class="mb-3">
            <label asp-for="Salary"></label>
            <input asp-for="Salary" class="form-control" />
        </div>

        <div class="mb-3">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control" />
        </div>

        <div class="mb-3">
            <label asp-for="IsActif"></label>
            <input asp-for="IsActif" class="form-check-input" />
        </div>

        <div class="mb-3">
            <label asp-for="Type"></label>
            <select  asp-for="Type" class="form-control" asp-items="Html.GetEnumSelectList<EmployeType>()">
                <option>Please select one</option>
            </select>
        </div>

        <div class="mb-3">
            <label asp-for="DepartmentId"></label>
            <input asp-for="DepartmentId" class="form-control" />
        </div>

        <button tyep="submit" class="btn btn-primary" >Create</button>
    </div>
</form>