﻿@model Employe
@{
    ViewData["Title"] = "Create Employe";
}

<h1> New Employe</h1>

@using (Html.BeginForm("Bonjour", "Employe", FormMethod.Post))
{
    <div class="border p-3 mt-4">
        <div class="mb-3">
            @Html.LabelFor(model => model.Name)
            @*@Html.TextBoxFor(model => model.Name, new { @class ="form-control"})*@
            @Html.EditorFor(model => model.Name, new {HtmlAttributes  = new { @class ="form-control"}})
        </div>
        <div class="mb-3">
            @Html.LabelFor(model => model.Salary)
            @Html.EditorFor(model => model.Salary, new {HtmlAttributes  = new { @class ="form-control"}})
        </div>
        <div class="mb-3">
            @Html.LabelFor(model => model.Email)
            @Html.EditorFor(model => model.Email, new {HtmlAttributes  = new { @class ="form-control"}})
        </div>
        <div class="mb-3">
            @Html.LabelFor(model => model.IsActif)
            @Html.EditorFor(model => model.IsActif, new {HtmlAttributes  = new { @class ="form-check-input"}})
        </div>
        <div class="mb-3">
            @Html.LabelFor(model => model.Type)
            @Html.DropDownListFor(model => model.Type, Html.GetEnumSelectList<EmployeType>(), "Select Type", new { @class ="form-control"})
        </div>
        <div class="mb-3">
            @Html.LabelFor(model => model.DepartmentId)
            @Html.EditorFor(model => model.DepartmentId, new {HtmlAttributes  = new { @class ="form-control"}})
        </div>
        <button tyep="submit" class="btn btn-primary">Create</button>
    </div>
}










