﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-secondary">
    <h2>Razor View Engine</h2>

    <p>
        Razor est moteur de rendu supporté par ASP.NET MVC
    </p>
    <p>
        Razor permet de mélanger du HTML avec un langage coté serveur. Visual Basic (.vbhtml) ou c# (.cshtml)
    </p>
    <p>
        Les symbole @@ est utilisé pour atteindre des variables côté serveur ou pour définir des instructions
    </p>
</div>
