﻿@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

@section sectionFromPrivacyView
    {
    <p class="text-danger">
        Contenu rendu en dehors du body par un "renderSection" depuis le "CustomLayout"
    </p>
}
