﻿@model EditRoleViewModel

@{
    ViewData["Title"] = "EditRole";
}

<h1>EditRole</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditRole">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" disabled class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="RoleName" class="control-label"></label>
                <input asp-for="RoleName" class="form-control" />
                <span asp-validation-for="RoleName" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="ListRoles" class="btn btn-success">Cancel</a>
            </div>

            <div class="card">
                <div class="card-header">
                    <h3>Users in role</h3>
                </div>
                <div class="card-bdy">
                    @if (Model.Users.Any())
                    {
                        <ul>
                            @foreach (var user in Model.Users)
                            {
                                <li class="card-title">@user</li>
                            }
                        </ul>
                       
                    }
                    else
                    {
                        <h5 class="card-title">No user in thos role yet</h5>
                    }
                </div>
                <div class="card-footer">
                    <a asp-controller="Administration"
                    asp-action="EditUsersInRole"
                    asp-route-roleId="@Model.Id"
                    class="btn btn-primary">Add or remove Users</a>
                </div>
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="ListRoles">Back to List</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
