﻿@model List<UserRoleViewModel>

@{
    var roleId = ViewBag.roleId;

}

<form method="post">
    <div class="card">
        <div class="card-header">
            <h2>Add or Remove Users from this Role</h2>
        </div>
        <div class="card-body">
            @for (int i = 0; i < Model.Count; i++)
            {
                <input type="hidden" asp-for="@Model[i].UserId" />
                <input type="hidden" asp-for="@Model[i].UserName" />
                <div class="form-check m-1">
                    <label asp-for="@Model[i].IsSelected" class="form-check-label">
                        @Model[i].UserName
                    </label>
                    <input asp-for="@Model[i].IsSelected" class="form-check-input" />
                </div>
            }
        </div>
        <div class="card-footer">
            <button typeof="submit" class="btn btn-primary">Update</button>
            <a asp-action="EditRole" asp-route-id="@roleId" class="btn btn-success">Cancel</a>
        </div>
    </div>
</form>