﻿@model IEnumerable<ApplicationUser>

@{
    ViewBag.Title = "All Users";
}

<h1>All Users</h1>

@if (Model.Any())
{
    <a asp-controller="Account" asp-action="Register" class="btn btn-primary mb-3">Add New User</a>

    foreach (var user in Model)
    {
        <div class="card mb-3">
            <div class="card-header">
                Role Id : @user.Id
            </div>
            <div class="card-body">
                <h5 class="card-title">@user.UserName</h5>
            </div>
            <div class="card-footer">
                <form asp-action="DeleteUser" asp-route-id="@user.Id" method="post">
                    <a asp-controller="Administration" asp-action="EditUser" asp-route-id="@user.Id" class="btn btn-primary">Edit</a>
                    <button type="submit"
                    onclick="return confirm('Are you sure you want to delete user : @user.UserName')" class="btn btn-danger">
                        Delete
                    </button>
                </form>
            </div>
        </div>
    }
}
else
{
    <div class="card">
        <div class="card-header">
            No Users Created Yet
        </div>
        <div class="card-body">
            <a asp-controller="Account" asp-action="Register" class="btn btn-primary">Register</a>
        </div>
    </div>
}